.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.App-nav{
  background-color: rgb(18,25,35);
  width: 20vw;
}

.Navlink {
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin: 10px;
}

ul {
  padding: 0;
}

.Error {
  display: flex;
  height: 75vh;
  margin: 50px;
  align-items: center;
  justify-content: center;
}

.leaflet-container{
  height: 100vh;
  width: 80vw;
}
